<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HospitalSchedulingMapper">
    
    <resultMap type="HospitalScheduling" id="HospitalSchedulingResult">
        <result property="scheduleId"    column="schedule_id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="doctorName"    column="doctor_name"    /> 
        <result property="workDate"    column="work_date"    />
        <result property="shiftType"    column="shift_type"    />
        <result property="totalQuota"    column="total_quota"    />
        <result property="availableQuota"    column="available_quota"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHospitalSchedulingVo">
        SELECT 
            s.schedule_id, 
            s.doctor_id, 
            d.doc_name AS doctor_name,  /* 关联查询医生姓名 */
            s.work_date, 
            s.shift_type, 
            s.total_quota, 
            s.available_quota, 
            s.status, 
            s.create_by, 
            s.create_time, 
            s.update_by, 
            s.update_time, 
            s.remark 
        FROM hospital_scheduling s
        LEFT JOIN hospital_doctor d ON s.doctor_id = d.doctor_id
    </sql>

    <select id="selectHospitalSchedulingList" parameterType="HospitalScheduling" resultMap="HospitalSchedulingResult">
        <include refid="selectHospitalSchedulingVo"/>
        <where>  
            <if test="doctorId != null "> and doctor_id = #{doctorId}</if>
            <if test="doctorName != null and doctorName != ''"> and d.doc_name like concat('%', #{doctorName}, '%')</if>
            <if test="workDate != null "> and work_date = #{workDate}</if>
            <if test="shiftType != null  and shiftType != ''"> and shift_type = #{shiftType}</if>
            <if test="totalQuota != null "> and total_quota = #{totalQuota}</if>
            <if test="availableQuota != null "> and available_quota = #{availableQuota}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHospitalSchedulingByScheduleId" parameterType="Long" resultMap="HospitalSchedulingResult">
        <include refid="selectHospitalSchedulingVo"/>
        where schedule_id = #{scheduleId}
    </select>

    <insert id="insertHospitalScheduling" parameterType="HospitalScheduling" useGeneratedKeys="true" keyProperty="scheduleId">
        insert into hospital_scheduling
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doctorId != null">doctor_id,</if>
            <if test="workDate != null">work_date,</if>
            <if test="shiftType != null and shiftType != ''">shift_type,</if>
            <if test="totalQuota != null">total_quota,</if>
            <if test="availableQuota != null">available_quota,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doctorId != null">#{doctorId},</if>
            <if test="workDate != null">#{workDate},</if>
            <if test="shiftType != null and shiftType != ''">#{shiftType},</if>
            <if test="totalQuota != null">#{totalQuota},</if>
            <if test="availableQuota != null">#{availableQuota},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateHospitalScheduling" parameterType="HospitalScheduling">
        update hospital_scheduling
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
            <if test="workDate != null">work_date = #{workDate},</if>
            <if test="shiftType != null and shiftType != ''">shift_type = #{shiftType},</if>
            <if test="totalQuota != null">total_quota = #{totalQuota},</if>
            <if test="availableQuota != null">available_quota = #{availableQuota},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where schedule_id = #{scheduleId}
    </update>

    <delete id="deleteHospitalSchedulingByScheduleId" parameterType="Long">
        delete from hospital_scheduling where schedule_id = #{scheduleId}
    </delete>

    <delete id="deleteHospitalSchedulingByScheduleIds" parameterType="String">
        delete from hospital_scheduling where schedule_id in 
        <foreach item="scheduleId" collection="array" open="(" separator="," close=")">
            #{scheduleId}
        </foreach>
    </delete>
</mapper>